* {
  font-family: sans-serif;
}
#hello-plan {
  height: 100%;
}

.container {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

#hello-plan {
  width: 80%;
}

.left {
  background-color: lightgrey;
  width: 20%;
  margin: 10px;
}
h2 {
  color: black;
  padding: 10px;
}
select {
  position: relative;
  left: 25px;
  margin: 10px;
  width: 50%;
  text-align: center;
  margin-left: 10px;
  padding: 10px;
  width: 75%;
  background-color: 238, 241, 246, 255;
}
