* {
  font-family: sans-serif;
}
#hello-plan {
  height: 100%;
}

.container {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

#hello-plan {
  width: 80%;
}

.left {
  background-color: lightgrey;
  width: 20%;
  margin: 10px;
}
h2 {
  color: black;
  padding: 10px;
}
select {
  position: relative;
  left: 25px;
  margin: 10px;
  width: 50%;
  text-align: center;
  margin-left: 10px;
  padding: 10px;
  width: 75%;
  background-color: 238, 241, 246, 255;
}

.info {
  width: 650px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  padding: 15px;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  color: rgb(50, 50, 50);
  margin: auto;
  margin-top: 30vh;
}

.info code {
  font-size: 15px;
}
.info b {
  padding: 4px;
}
